h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:40px;
    color:blueviolet;


}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    color:cornflowerblue;

}
.MijnAfbeelding{
    width:100px;px;
    height:100px;

}